<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>splash_background</string>
        <key>UIImageName</key>
        <string>splash_image.png</string>
        <key>UILaunchScreen</key>
        <dict/>
    </dict>

    <!-- ✅ 앱 버전 정보 추가 -->
    <key>CFBundleShortVersionString</key>
    <string>1.4</string> <!-- 앱 표시 버전 -->

    <key>CFBundleVersion</key>
    <string>5</string> <!-- 빌드 번호 -->
</dict>
</plist>
